In [1]:
import numpy
a=numpy.array([10,20,30,40,50])
a.mean()

30.0

In [3]:
b=numpy.array([['a',10,1],['b',20,2],['c',30,2],['d',40,3]])
b

array([['a', '10', '1'],
       ['b', '20', '2'],
       ['c', '30', '2'],
       ['d', '40', '3']], dtype='<U2')

In [4]:
b[2]

array(['c', '30', '2'], dtype='<U2')

In [5]:
b[:][2]

array(['c', '30', '2'], dtype='<U2')

In [6]:
b[0][2]

'1'

In [7]:
b[][2]

SyntaxError: invalid syntax (<ipython-input-7-e0c8cbb80b73>, line 1)

In [8]:
b[:,2]

array(['1', '2', '2', '3'], dtype='<U2')

In [9]:
b.mean()

TypeError: cannot perform reduce with flexible type

In [10]:
c=b[:,2]

In [11]:
c

array(['1', '2', '2', '3'], dtype='<U2')

In [12]:
datatype(c)

NameError: name 'datatype' is not defined

In [13]:
c.dtype

dtype('<U2')

In [14]:
d=c.astype(int)

In [15]:
d.dtype

dtype('int32')

In [17]:
c.dtype

dtype('<U2')

In [18]:
d.mean()

2.0

In [19]:
b

array([['a', '10', '1'],
       ['b', '20', '2'],
       ['c', '30', '2'],
       ['d', '40', '3']], dtype='<U2')

In [20]:
b.dtype={'names':['StudentName','Bunked Hours','Rank'], 'formats':[numpy.str,numpy.int32,numpy.int32]}

In [21]:
b

array([[('',  97,  0), ('',  49, 48), ('',  49,  0)],
       [('',  98,  0), ('',  50, 48), ('',  50,  0)],
       [('',  99,  0), ('',  51, 48), ('',  50,  0)],
       [('', 100,  0), ('',  52, 48), ('',  51,  0)]],
      dtype=[('StudentName', '<U'), ('Bunked Hours', '<i4'), ('Rank', '<i4')])

In [23]:
b['Rank']

array([[ 0, 48,  0],
       [ 0, 48,  0],
       [ 0, 48,  0],
       [ 0, 48,  0]])

In [24]:
#Here comes pandas

import pandas

In [25]:
dir(pandas)

['BooleanDtype',
 'Categorical',
 'CategoricalDtype',
 'CategoricalIndex',
 'DataFrame',
 'DateOffset',
 'DatetimeIndex',
 'DatetimeTZDtype',
 'ExcelFile',
 'ExcelWriter',
 'Float64Index',
 'Grouper',
 'HDFStore',
 'Index',
 'IndexSlice',
 'Int16Dtype',
 'Int32Dtype',
 'Int64Dtype',
 'Int64Index',
 'Int8Dtype',
 'Interval',
 'IntervalDtype',
 'IntervalIndex',
 'MultiIndex',
 'NA',
 'NaT',
 'NamedAgg',
 'Period',
 'PeriodDtype',
 'PeriodIndex',
 'RangeIndex',
 'Series',
 'SparseDtype',
 'StringDtype',
 'Timedelta',
 'TimedeltaIndex',
 'Timestamp',
 'UInt16Dtype',
 'UInt32Dtype',
 'UInt64Dtype',
 'UInt64Index',
 'UInt8Dtype',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__docformat__',
 '__file__',
 '__getattr__',
 '__git_version__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_config',
 '_hashtable',
 '_is_numpy_dev',
 '_lib',
 '_libs',
 '_np_version_under1p14',
 '_np_version_under1p15',
 '_np_version_under1p16',
 '_np_version_under1p17',
 '_np_version_under1p18',
 '_testing',
 '_tslib',
 '_typing',
 '_version',
 'api',
 'array',
 'arrays',
 'bdate_range',
 'compat',
 'concat',
 'core',
 'crosstab',
 'cut',
 'date_range',
 'describe_option',
 'errors',
 'eval',
 'factorize',
 'get_dummies',
 'get_option',
 'infer_freq',
 'interval_range',
 'io',
 'isna',
 'isnull',
 'json_normalize',
 'lreshape',
 'melt',
 'merge',
 'merge_asof',
 'merge_ordered',
 'notna',
 'notnull',
 'offsets',
 'option_context',
 'options',
 'pandas',
 'period_range',
 'pivot',
 'pivot_table',
 'plotting',
 'qcut',
 'read_clipboard',
 'read_csv',
 'read_excel',
 'read_feather',
 'read_fwf',
 'read_gbq',
 'read_hdf',
 'read_html',
 'read_json',
 'read_orc',
 'read_parquet',
 'read_pickle',
 'read_sas',
 'read_spss',
 'read_sql',
 'read_sql_query',
 'read_sql_table',
 'read_stata',
 'read_table',
 'reset_option',
 'set_eng_float_format',
 'set_option',
 'show_versions',
 'test',
 'testing',
 'timedelta_range',
 'to_datetime',
 'to_numeric',
 'to_pickle',
 'to_timedelta',
 'tseries',
 'unique',
 'util',
 'value_counts',
 'wide_to_long']

In [27]:
d=pandas.read_csv("sample.csv")

In [29]:
Ott=d['OTT']

In [30]:
Ott.sum()

124

In [31]:
d[0]

KeyError: 0

In [32]:
d

    OTT  hours
0     2    7.0
1     4    7.0
2     2    7.0
3     2    8.0
4     1    8.0
5     3    6.3
6     2    7.0
7     1    6.0
8     5    7.0
9     2    7.0
10    6    6.0
11    4    7.0
12    1    8.0
13    4    7.0
14    4    7.0
15    5   11.0
16    2    8.0
17    2    7.0
18    1    8.0
19    2    7.0
20    2    8.0
21    2    8.0
22    3    8.0
23    1    7.0
24    2    6.0
25    4    6.0
26    1    5.0
27    2    8.0
28    1    8.0
29    1    7.0
30    4    9.0
31    4    6.0
32    0    6.0
33    0    6.0
34    0    6.0
35    0    8.0
36    0    8.0
37    0    8.0
38    8    4.0
39    6    4.0
40    9    3.0
41    9    4.0
42   10    3.5

In [33]:
d.iloc[1]

OTT      4.0
hours    7.0
Name: 1, dtype: float64